<div class="container">


	<h1 style="text-align:center;"> About </h1>

	<br>

		<p class="lead">
			Mission: To provide users with the ability to design a personal library of music that would ultimately become a playlist of nostalgic moments in their life. 
		</p>

	<div class="row">

		<ul class="features features-list1 clearfix unstyled">

			<li class="span6" style="text-align:center;">
				<div class="icons">
					<i class="icon-music"></i>
				</div>

				<div class="content">
						<h2>Save Your Songs</h2>
						<p class="lead"> 
							As humans we gravitate towards music because it can move our emotions and captivates our feelings in a way that science can't capture. Save it. 
						</p>
					</div>
			</li>

			<li class="span6" style="text-align:center;">
				<div class="icons">
					<i class="icon-play"></i>
				</div>

				<div class="content">
						<h2>Design Your Own Playlist</h2>
						<p class="lead">
							As your music library grows, you can listen to an entire playlist that consists of all the songs that generate flashbacks from your past. 
						</p>
					</div>
			</li>

			<li class="span6" style="text-align:center;">
				<div class="icons">
					<i class="icon-heart"></i>
				</div>

				<div class="content">
						<h2>Share Your Music</h2>
						<p class="lead">
							Let others into your sonic world by sharing your playlist with them. Who knows? Maybe people will share the experiences that you have had. 
						</p>
					</div>
			</li>

			<li class="span6" style="text-align:center;">
				<div class="icons">
					<i class="icon-camera"></i>
				</div>

				<div class="content">
						<h2>Add Images to Your Moments</h2>
						<p class="lead"> 
							If you have pictures of the place that you experienced the moment, you can also add them to your library!
						</p>
					</div>
			</li>



		</ul>	





	</div>	


</div>