<div class="container">

<h1 style="text-align:center;"> How it Works </h1>


	<div class="span12" >
	
		<h4>Users upload a song that reminds them of a memory in their life</h4>

	</div>

	<div class="span12">

		<h4>Write a short description of why the song means a lot to you.</h4>

	</div>	

	<div class="span12">

		<h4>Add an image or picture to your post</h4>

	</div>
	
	<div class="span12">
	
		<h4>Save and Share with friends.</h4>

	</div>
</div>