<!-- <div class="container">

<h1 style="text-align:center;"> How it Works </h1>


	<div class="span12" >
	
		<h4>Users upload a song that reminds them of a memory in their life</h4>

	</div>

	<div class="span12">

		<h4>Write a short description of why the song means a lot to you.</h4>

	</div>	

	<div class="span12">

		<h4>Add an image or picture to your post</h4>

	</div>
	
	<div class="span12">
	
		<h4>Save and Share with friends.</h4>

	</div>
</div> -->

<div class="hero-unit" style="margin-top: -20px; background-color:#DBF2FC;">
		<div class ="container-fluid">
			<div class="row-fluid">
				<div class="span6" style="margin:auto 0">

					<h1>Upload Songs</h1>

				</div>
				<div class="span6">

					<img src="<%= image_path("place_holder.png") %>" >


				</div>
			</div>
		</div>
	</div>

	<div class="hero-unit" style="background-color:white; margin-top: -30px;">
		<div class ="container-fluid">
			<div class="row-fluid">
				<div class="span6">

					<img src="<%= image_path("place_holder.png") %>" >

				</div>
				<div class="span6" style="margin:auto 0">

					<h1>Write a Blog Post</h1>

				</div>
			</div>
		</div>
	</div>

		<div class="hero-unit" style="margin-top: -30px; background-color: #DBF2FC;
;">
		<div class ="container-fluid">
			<div class="row-fluid">
				<div class="span6" style="margin:auto 0">

					<h1>Post an Image</h1>

				</div>
				<div class="span6">

					<img src="<%= image_path("place_holder.png") %>" >


				</div>
			</div>
		</div>
	</div>