<div class="container">

	<div class="hero-unit">

	  <h1>Note your worthy moments</h1>

		  <p>
		  	Music has always been an integral part of our lives. It can serve as a time machine that sends us back to specific moments in time. Why not collect it?
		  </p>

		  <p>
		    <a class="btn btn-primary btn-large">
		      Get Started
		    </a>
		  </p>

	</div>

	<div class="row">
		<div class="span6">
			<h2 class="featurette-heading">
				Upload Songs
			</h2>

			<p class="lead">
				Pick a song that reminds you of memory in your life and upload it
			</p>
		</div>

		<div class="span6">
			<img src="<%= image_path("No Music No Life.jpg") %>" >
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row">

		<div class="span6">
			<img src="<%= image_path("Friends Listening to Music.jpg") %>" >
		</div>

		<div class="span6">
			<h2 class="featurette-heading">
				Share with Friends
			</h2>

			<p class="lead">
				Let others listen and understand the moments of your life.
			</p>
		</div>

	</div> 

</div>

