<p>
	Hi, <%= @user.email %>
</p>

<p>
	Thanks for signing up for Noteworthy Moments!.
	Choose songs that remind you of the most important moments of your life.
</p>

<p>
	<a href="<%= root_url %>">Note Your Worthy Moments</a>
</p>