// Place all the styles related to the main controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	
margin-top:35px;	
}

.navbar-inner{
	
padding-left:20px;
}

.hero-unit {

background-color: #DBF2FC;
margin-top:41px	

}

span {
	
font-size: 30px;	
font-family: 'Stalemate', cursive;
color:#C9727D
}


.icons i {
	
font-size: 58px;

}


ul li {
	
 list-style-type: none;


}


.brand h2 {
	
	color:#4BA3CC;

	padding-left: 5px;
}


.featurette-heading{

color: #4BA3CC;	

}


	
