// Place all the styles related to the main controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Global Typography

h1, h2, a

{
	
font-family: 'Open Sans', sans-serif;	

}

p

{
	
font-family: 'Raleway', sans-serif;
	
}




//Home Page Styling



.container {
	
margin-top:50px;	
}

.navbar-inner{
	
padding-left:20px;
}

.hero-unit {

background-color:white;
margin-top:41px	

}

span {
	
font-size: 30px;	
font-family: 'Stalemate', cursive;
color:#C9727D
}

.lead {
	
text-align:center;	

}


// Icon Styling




.icons i {
	
font-size: 58px;

}


// Nav Bar 



ul li {
	
list-style-type: none;
font-family: 'Open Sans', sans-serif;

}


.brand h2 {
	
	color:#4BA3CC;

	padding-left: 5px;
}


.featurette-heading{

color: #4BA3CC;	

}



//Space Under Navbar



.span6 h1 {
	
margin-top:180px;

}


// Circles


.circle {
	border-radius:50px;
	border:8px solid white;

}

.steps {
font-size: 9em;
font-weight: 700;
color: white;
height:200px;
width:200px;
margin: 10%;
text-align:center;
line-height: 200px;	
}

.one{
	
background: #c9727d;

}

.two {
	
background: #c9727d;
}

.three {
	
background: #c9727d;
}

.four {

background: #c9727d;

}

	
