// Place all the styles related to the main controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h2, a

{
	
font-family: 'Open Sans', sans-serif;	

}

p

{
	
font-family: 'Raleway', sans-serif;
	
}

.container {
	
margin-top:50px;	
}

.navbar-inner{
	
padding-left:20px;
}

.hero-unit {

background-color: #DBF2FC;
margin-top:41px	

}

span {
	
font-size: 30px;	
font-family: 'Stalemate', cursive;
color:#C9727D
}


.icons i {
	
font-size: 58px;

}


ul li {
	
 list-style-type: none;
font-family: 'Open Sans', sans-serif;

}


.brand h2 {
	
	color:#4BA3CC;

	padding-left: 5px;
}


.featurette-heading{

color: #4BA3CC;	

}

.span6 h1 {
	
margin-top:180px;

}

	
