2
<div class="container "style="text-align:center;">
	<h1> How It Works </h1>
	<br>
	<p class="lead"> Follow these four simple steps!</p>
</div>

 <img src="<%= image_path("piano.jpg") %>" >

<div class="hero-unit" style="margin-top: -10px; background-color:#DBF2FC;">
		<div class ="container-fluid">
			<div class="row-fluid">

				<div class="span6">
					<div class="steps circle one">
							1
					</div>	

				</div>

				<div class="span6" style="margin:auto 0">

					<h1>Upload Songs</h1>

				</div>
			
			</div>
		</div>
	</div>

	<div class="hero-unit" style="background-color:white; margin-top: -30px;">
		<div class ="container-fluid">
			<div class="row-fluid">

				<div class="span6" style="margin:auto 0">

					<h1>Write a Blog Post</h1>

				</div>

				<div class="span6">

					<div class="steps circle two">
								2
					</div>	
				</div>

		
			</div>
		</div>
	</div>

		<div class="hero-unit" style="margin-top: -30px; background-color: #DBF2FC;">
		<div class ="container-fluid">
			<div class="row-fluid">

					<div class="span6">
						<div class="steps circle three">
								3
						</div>	

					</div>

				<div class="span6" style="margin:auto 0">

					<h1>Post an Image</h1>

				</div>
				
			</div>
		</div>
	</div>

	<div class="hero-unit" style="background-color:#white; margin-top: -30px;">
		<div class ="container-fluid">
			<div class="row-fluid">
				<div class="span6" style="margin:auto 0">

					<h1>Share with Friends</h1>

				</div>

				<div class="span6">
					<div class="steps circle four">
							4
					</div>	

				</div>
				
			</div>
		</div>
	</div>