<h1> The Details! </h1>

<h1> The Details! </h1>

<br>

    <div class="title">

 	   <h1><%= @moment.title %></h1>

	</div>

	<div class="image">

  	 	<h2><%= @moment.image %></h2>

   </div>

   <div class="blog">
    
	   <p><%= @moment.blog %></p>

   </div> 


   <div class="song">

 	   <h3><%= @moment.song %></h3>

 	</div>